<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- 전달받아온 title변수를 사용합니다 -->
	<title>{{ title }}</title>
</head>
<body>
	<!-- 전달받아온 title변수를 사용합니다 -->
	<h1>{{ title }}</h1>

	<!-- Django template language - for loop -->
	{% for post in posts %}
	<article>
		<h4>{{ post.title }}</h4>
		<p>{{ post.description }}</p>
		<p>{{ post.created }}</p>
	</article>
	{% endfor %}
</body>
</html>
