<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>이한영의 홈페이지에 오신것을 환영합니다</title>
</head>
<body>
  <h1>Django girls tutorial Blog</h1>

  <div>{{ title }}</div>

  {% for post in post_list %}
    {{ post }}
  {% endfor %}
  <!-- <div>
    <h2><a href="#">Post title</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ipsum. Eum voluptate nostrum numquam velit. Ipsum asperiores aspernatur laborum incidunt, voluptatibus corporis neque aliquid architecto quidem doloremque temporibus veritatis illum.</p>
    <p>published : 2016.10.10, 16:54</p>
  </div>

  <div>
    <h2><a href="#">Post title</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ipsum. Eum voluptate nostrum numquam velit. Ipsum asperiores aspernatur laborum incidunt, voluptatibus corporis neque aliquid architecto quidem doloremque temporibus veritatis illum.</p>
    <p>published : 2016.10.10, 16:54</p>
  </div> -->

</body>
</html>
